<%= simple_form_for :meeting, :url => url_for(:controller => "meetings", :action => "create") do |f| %>

	<%= f.error_notification %>

	<div class="inputs">
	  <%= f.input :subject, :as => :string, :input_html => { :value => @meeting['subject'] } %>
	  <%= f.input :start_time, :as => :string, :input_html => { :value => @meeting['startTime'] } %>
	  <%= f.input :end_time, :as => :string, :input_html => { :value => @meeting['endTime'] }  %>
	  <%= f.input :password_required, :as => :string, :input_html => { :value => @meeting['passwordRequired'] }  %>
 	</div>
 	
 	<div class="actions">
 		<%= f.button :submit, :class => "btn btn-primary" %>
 	</div>
 
<% end %>

<code>
<%= debug(@meeting) %>
</code>